:root {
    --card-title-border-color: #746615;
    --card-color-primary: #f7dd43;
    --card-bg-color: #1d1c19;
    --bg: url(../img/bg-yellow.svg);
  }
  
  body.blue {
    --card-title-border-color: #338AF3;
    --card-color-primary: #338AF3;
    --card-bg-color: #202024;
    --bg: url(../img/bg-blue.svg);
  }
  
  body.green {
    --card-title-border-color: #047C3F;
    --card-color-primary: #047C3F;
    --card-bg-color: #1a1f1b;
    --bg: url(../img/bg-green.svg);
  }